/build/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.project
.classpath
bin/
java.policy
build/
/.settings/
/.gitignore

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Saco los .properties para que no nos pisemos el hibernate.properties
*.properties

#Saco los .xml ya que empezamos a generarlos y puede joder
*.xml
